## Step-1:Data pre-processing

## Using KNN algorithm

1. Importing the required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2. Importing the dataset using the pandas library

In [3]:
data=pd.read_csv("User_Data.csv")
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

3. Checking the missing values in the dataset

In [ ]:
data.isnull().sum()

Here no any missing values found.

4. Extracting the independent and dependent variables

In [ ]:
#for independent variable
x=data.iloc[:,[2,3]]

In [ ]:
#for dependent variable
y=data.iloc[:,4]

5. Splitting the dataset into Training and Training dataset

In [ ]:
#importing the train_test_split class from the scikit-learn.model_selection library
from sklearn.model_selection import train_test_split

#splitting the dataset
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

6. Feature scaling

In [ ]:
#importing the standard scaler class from scikit-learn.preprocessing library
from sklearn.preprocessing import StandardScaler

#create an instance
standard=StandardScaler()

#fitting the independent dataset 
x_train=standard.fit_transform(x_train)

x_test=standard.fit_transform(x_test)

## Step-2: Fitting the KNN classifier to the training data:

In [ ]:
#importing the kneighbors classifier form the scikit-learn.neighbors library
from sklearn.neighbors import KNeighborsClassifier

#create an instance
classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)

#fitting the values in the classifier
classifier.fit(x_train,y_train)

## Step-3:Predicting the test set result:

In [ ]:
y_pred=classifier.predict(x_test)

In [ ]:
y_pred

## Step-4:Creating the confusion matrix

In [ ]:
#importing the confusion matrix class from the scikit-learn.metrics library
from sklearn.metrics import confusion_matrix

#creating an instance
cm=confusion_matrix(y_test,y_pred)

In [ ]:
cm

## Step-5:Accuracy score

In [ ]:
from sklearn.metrics import accuracy_score

#creating an instance
accuracy=accuracy_score(y_test,y_pred)

#printing the accuracy score
print("Accuracy score:",accuracy*100,"%")

## Hence the accuracy score of KNN model is 93%

## Step-6: Visualizing the training set results:

In [ ]:
#importing the plot decision regions class from mlxtend.plotting library  (please install the mlxtend library first)
from mlxtend.plotting import plot_decision_regions

In [ ]:
#plotting the decision boundary
plot_decision_regions(x_train,y_train.to_numpy(),clf=classifier,legend=2)

#title of graph
plt.title("training test results visualization(knn algorithm)")

#xlabel
plt.xlabel("Age")

#ylabel
plt.ylabel("estimated salary")

#show (0 means not purchased the car and 1 means who purchased the car)
plt.show()

## Step-7: Visualizing the test set results:

In [ ]:
#plotting the decision boundary
plot_decision_regions(x_test,y_test.to_numpy(),clf=classifier,legend=2)

#title of graph
plt.title("test set results visualization")

#xlabel
plt.xlabel("Age")

#ylabel
plt.ylabel("estimated salary")

#show (0 means not purchased the car and 1 means who purchased the car)
plt.show()